
<div class="card mt-5" style="width: 70%; margin: auto;">

    <div class="card-body">

    <h4 class="card-title mb-4">Crear Chiste</h4>

    <form [formGroup]= "formChiste">

        <div class="form-group mb-3">
            <input type="text"
                class="form-control"
                placeholder="Escribe el chiste..."
                formControlName="chiste"
                [ngClass]="{
                    'dangerB': campoInvalido('chiste'),
                    'successB': formChiste.controls.chiste.valid
                }" 
                #chiste>
        </div>
        <p *ngIf="campoInvalido('chiste')" class="text-danger">{{messageError('chiste')}}</p>
            
        <div class="form-group mb-3">
            <input type="text"
                class="form-control"
                placeholder="Escribe la respuesta..."
                formControlName="respuesta"
                [ngClass]="{
                    'dangerB': campoInvalido('respuesta'),
                    'successB': formChiste.controls.respuesta.valid
                }" 
                #respuesta>
        </div>
        <p *ngIf="campoInvalido('respuesta')" class="text-danger">{{messageError('respuesta')}}</p>

        <button
            class="btn btn-primary"
            (click)="crearChiste(chiste.value, respuesta.value)" >
            Agregar
        </button>

    </form>

</div>
</div>